ADF/CEIX_ShipNotificationv2/Model/src/ceix/com/bc/am/common/serviceinterface/CEIXShipNotificationAMService.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="/ceix/com/bc/am/common/types/"
     xmlns:tns="/ceix/com/bc/am/common/types/" xmlns:ns0="http://xmlns.oracle.com/adf/svc/errors/">
    <import namespace="http://xmlns.oracle.com/adf/svc/errors/" schemaLocation="classpath:/META-INF/wsdl/ServiceException.xsd"/>
    <element name="createPDFReport">
        <complexType>
            <sequence>
                <element name="trainNumber" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="createPDFReportResponse">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
            </sequence>
        </complexType>
    </element>
</schema>
