ADF/CEIX_STSShipments/Model/src/com/oracle/xmlns/apps/scm/fom/importorders/orderimportservice/Order.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/scm/fom/importOrders/orderImportService/" xmlns:sdoJava="commonj.sdo/java" sdoJava:package="oracle.apps.scm.fom.importOrders.orderImportService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:ns1="http://xmlns.oracle.com/apps/scm/doo/processOrder/model/" xmlns:sdo="commonj.sdo" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/scm/fom/importOrders/orderImportService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name>Order Header Information</name>
      <description>Header information of the order, such as customer and ordered
                date.</description>
      <oer:attributes>
        <oer:attribute description="Internal Identifier that uniquely identifies the transaction" name="SourceTransactionIdentifier"/>
        <oer:attribute description="System or Application that placed the request for fulfillment" name="SourceTransactionSystem"/>
        <oer:attribute description="System or Application that sent a revision of the order" name="RevisionSourceSystem"/>
        <oer:attribute description="External Facing Transaction Number" name="SourceTransactionNumber"/>
        <oer:attribute description="Type of the party that placed the order  e.g. Person or Organization." name="BuyingPartyType"/>
        <oer:attribute description="Identifier of Person or company or organization that placed the order. This is sometimes known as the &quot;Sold To Customer&quot;." name="BuyingPartyId"/>
        <oer:attribute description="Name of Person or organization that placed the order. This is sometimes known as the &quot;Sold To Customer&quot;." name="BuyingPartyName"/>
        <oer:attribute description="Number of Person or organization that placed the order. This is sometimes known as the &quot;Sold To Customer&quot;." name="BuyingPartyNumber"/>
        <oer:attribute description="Cross Reference Value for the Buying Party." name="BuyingPartyOrigSystemReference"/>
        <oer:attribute description="First name of the Party who placed the order, if a person." name="BuyingPartyPersonFirstName"/>
        <oer:attribute description="Last name of the Party who placed the order, if a person." name="BuyingPartyPersonLastName"/>
        <oer:attribute description="Middle name of the Party who placed the order, if a person." name="BuyingPartyPersonMiddleName"/>
        <oer:attribute description="Suffix of the name of the Party who placed the order, if a person." name="BuyingPartyPersonNameSuffix"/>
        <oer:attribute description="Title of the Party who placed the order, if a person." name="BuyingPartyPersonTitle"/>
        <oer:attribute description="Identifier of the Person who placed the order or is the primary contact for the order." name="BuyingPartyContactId"/>
        <oer:attribute description="Name of the person who placed the order or is the primary contact for the order." name="BuyingPartyContactName"/>
        <oer:attribute description="Number of Person who placed the order or is the primary contact for the order." name="BuyingPartyContactNumber"/>
        <oer:attribute description="Cross Reference Value for the Buying Party Contact." name="BuyingPartyContactOrigSystemReference"/>
        <oer:attribute description="First name of the person who placed the order or is the primary contact for the order." name="BuyingPartyContactFirstName"/>
        <oer:attribute description="Last name of the person who placed the order or is the primary contact for the order." name="BuyingPartyContactLastName"/>
        <oer:attribute description="Middle name of the person who placed the order or is the primary contact for the order." name="BuyingPartyContactMiddleName"/>
        <oer:attribute description="Suffix of the name of the person who placed the order or is the primary contact for the order." name="BuyingPartyContactNameSuffix"/>
        <oer:attribute description="Title of the person who placed the order or is the primary contact for the order." name="BuyingPartyContactTitle"/>
        <oer:attribute description="Identifier of Preferred Contact Point for the contact at the buying party." name="PreferredSoldToContactPointIdentifier"/>
        <oer:attribute description="Cross Reference Value for  Preferred way to contact the Sold-to Party Contact." name="PreferredSoldToContactPointOrigSystemReference"/>
        <oer:attribute description="The purchase order number the customer sends as an identifier for this order." name="CustomerPONumber"/>
        <oer:attribute description="Currency Code used for pricing the transaction." name="TransactionalCurrencyCode"/>
        <oer:attribute description="Currency Name used for pricing the transaction." name="TransactionalCurrencyName"/>
        <oer:attribute description="The date and time that the transaction was initiated. In the case of Sales Order based requests this will be the date that the customer committed to purchase the items in the order. This is used to measure the time it took to fulfill an order." name="TransactionOn"/>
        <oer:attribute description="The identifier of the internal organization that sold the order." name="RequestingBusinessUnitIdentifier"/>
        <oer:attribute description="The name of the internal organization that sold the order." name="RequestingBusinessUnitName"/>
        <oer:attribute description="Indicates the Type of Transaction as determined in the system that is capturing the transaction." name="TransactionTypeCode"/>
        <oer:attribute description="Foreign currency conversion type." name="CurrencyConversionType"/>
        <oer:attribute description="Conversion Rate." name="CurrencyConversionRate"/>
        <oer:attribute description="Currency conversion date." name="CurrencyConversionDate"/>
        <oer:attribute description="Indicates whether this request is a Sales Order or Purchase Order or Internal Material Transfer based request." name="TransactionDocumentTypeCode"/>
        <oer:attribute description="The revision number of the transaction." name="SourceTransactionRevisionNumber"/>
        <oer:attribute description="Reason Code Provided for Cancellation Request." name="CancelReasonCode"/>
        <oer:attribute description="Reason Provided for Cancellation Request." name="CancelReason"/>
        <oer:attribute description="The time and day on which Cancel was requested." name="RequestCancelDate"/>
        <oer:attribute description="Free-form text which can be used to capture any high level information related to the transaction." name="Comments"/>
        <oer:attribute description="Identifier of the legal entity that formed a contract with the customer." name="RequestingLegalUnitIdentifier"/>
        <oer:attribute description="The legal entity that formed a contract with the customer for this order." name="RequestingLegalUnit"/>
        <oer:attribute description="The document number from the system that originally captured the transaction" name="OrigSystemDocumentReference"/>
        <oer:attribute description="Indicates that the items on the order can be shipped in multiple shipments rather than as one shipment." name="PartialShipAllowedFlag"/>
        <oer:attribute description="Operations Mode" name="OperationMode"/>
        <oer:attribute description="The date when the document is priced. This attribute will be populated with the system date at the beginning of a pricing process." name="PricedOn"/>
        <oer:attribute description="Indicates if an order should be  priced or not." name="FreezePriceFlag"/>
        <oer:attribute description="Indicates if shipping charges for an order should be recalculated or not." name="FreezeShippingChargeFlag"/>
        <oer:attribute description="Indicates if taxes for an order should be calculated or not." name="FreezeTaxFlag"/>
        <oer:attribute description="Type of the party where the goods are to be sent, e.g. Person or Organization" name="ShipToPartyType"/>
        <oer:attribute description="Identifier of the party where the goods are to be sent." name="ShipToPartyIdentifier"/>
        <oer:attribute description="Name of the Party where the goods are to be sent." name="ShipToPartyName"/>
        <oer:attribute description="Number of the Party where the goods are to be sent." name="ShipToPartyNumber"/>
        <oer:attribute description="First name of the Party where the goods are to be sent, if a person." name="ShipToPartyPersonFirstName"/>
        <oer:attribute description="Last name of the Party where the goods are to be sent, if a person." name="ShipToPartyPersonLastName"/>
        <oer:attribute description="Middle name of the Party where the goods are to be sent, if a person." name="ShipToPartyPersonMiddleName"/>
        <oer:attribute description="Suffix of the name of the Party where the goods are to be sent, if a person." name="ShipToPartyPersonNameSuffix"/>
        <oer:attribute description="Title of the Party where the goods are to be sent, if a person." name="ShipToPartyPersonTitle"/>
        <oer:attribute description="Identifier of the Party Site address where the goods are to be sent." name="ShipToPartySiteIdentifier"/>
        <oer:attribute description="Address Line1 where the goods are to be sent." name="ShipToAddress1"/>
        <oer:attribute description="Address Line2 where the goods are to be sent." name="ShipToAddress2"/>
        <oer:attribute description="Address Line3 where the goods are to be sent." name="ShipToAddress3"/>
        <oer:attribute description="Address Line4 where the goods are to be sent." name="ShipToAddress4"/>
        <oer:attribute description="City where the goods are to be sent." name="ShipToCity"/>
        <oer:attribute description="Postal Code where the goods are to be sent." name="ShipToPostalCode"/>
        <oer:attribute description="State where the goods are to be sent." name="ShipToState"/>
        <oer:attribute description="Province where the goods are to be sent." name="ShipToProvince"/>
        <oer:attribute description="County where the goods are sent." name="ShipToCounty"/>
        <oer:attribute description="Country where the goods are sent." name="ShipToCountry"/>
        <oer:attribute description="Cross Reference Value of the party site address where the goods are to be sent as established in the customer master in TCA." name="ShipToAddressOrigSystemReference"/>
        <oer:attribute description="Identifier of contact at the Party where the goods are to be shipped." name="ShipToPartyContactIdentifier"/>
        <oer:attribute description="Name of contact at the Party where the goods are to be shipped." name="ShipToPartyContactName"/>
        <oer:attribute description="Number of contact at the Party where the goods are to be shipped." name="ShipToPartyContactNumber"/>
        <oer:attribute description="Cross Reference Value for the Ship-to Party Contact." name="ShipToPartyContactOrigSystemReference"/>
        <oer:attribute description="First name of the Ship To Party Contact." name="ShipToContactFirstName"/>
        <oer:attribute description="Last Name of the  Ship To Party Contact." name="ShipToContactLastName"/>
        <oer:attribute description="Middle Name of the Ship To Party Contact." name="ShipToContactMiddleName"/>
        <oer:attribute description="Suffix of the Ship To Party Contact." name="ShipToContactNameSuffix"/>
        <oer:attribute description="Title of Ship To Party Contact" name="ShipToContactTitle"/>
        <oer:attribute description="Identifier of Preferred Contact Point for the contact where the goods are to be sent." name="PreferredShipToContactPointIdentifier"/>
        <oer:attribute description="Cross Reference Value for  Preferred way to contact the Ship-to Party Contact." name="PreferredShipToContactPointOrigSystemReference"/>
        <oer:attribute description="Type of the party legally responsible for the payment e.g. Person or Organization" name="BillToPartyType"/>
        <oer:attribute description="Identifier of the Party legally responsible for the payment." name="BillToCustomerIdentifier"/>
        <oer:attribute description="Name of the Party legally responsible for the payment." name="BillToCustomerName"/>
        <oer:attribute description="Number of the Party  legally responsible for the payment." name="BillToCustomerNumber"/>
        <oer:attribute description="Description of the Account responsible for the payment." name="BillToAccountDescription"/>
        <oer:attribute description="First name  of the Account legally responsible for the payment, if a person." name="BillToAccountPersonFirstName"/>
        <oer:attribute description="Last name of the Account legally responsible for the payment,if a person." name="BillToAccountPersonLastName"/>
        <oer:attribute description="Middle name of the Account legally responsible for the payment, if a person." name="BillToAccountPersonMiddleName"/>
        <oer:attribute description="Suffix of the name of the Accpimt legally responsible for the payment, if a person." name="BillToAccountPersonNameSuffix"/>
        <oer:attribute description="Title of the Account legally responsible for the payment, if a person." name="BillToAccountPersonTitle"/>
        <oer:attribute description="Identifier of the party site legally responsible for the payment." name="BillToAccountSiteUseIdentifier"/>
        <oer:attribute description="Address Line1 of the Account responsible for the payment." name="BillToAddress1"/>
        <oer:attribute description="Address Line2 of the Account responsible for the payment." name="BillToAddress2"/>
        <oer:attribute description="Address Line3 of the Account responsible for the payment." name="BillToAddress3"/>
        <oer:attribute description="Address Line4 of the Account responsible for the payment." name="BillToAddress4"/>
        <oer:attribute description="City of the Account responsible for the payment." name="BillToCity"/>
        <oer:attribute description="Postal Code of the Account responsible for the payment." name="BillToPostalCode"/>
        <oer:attribute description="State of the Account responsible for payment." name="BillToState"/>
        <oer:attribute description="Province of the Account responsible for payment." name="BillToProvince"/>
        <oer:attribute description="County of the Account responsible for payment." name="BillToCounty"/>
        <oer:attribute description="Country of the Account responsible for payment." name="BillToCountry"/>
        <oer:attribute description="Cross Reference Value of the customer account site use for the payment as established in the customer master in TCA." name="BillToAddressOrigSystemReference"/>
        <oer:attribute description="Identifier of the contact for the billing account." name="BillToAccountContactIdentifier"/>
        <oer:attribute description="Name of the contact for the billing account." name="BillToAccountContactName"/>
        <oer:attribute description="Number of the contact for the billing account." name="BillToAccountContactNumber"/>
        <oer:attribute description="Cross Reference Value of the contact for payment as established in the customer master in TCA." name="BillToAccountContactOrigSystemReference"/>
        <oer:attribute description="First name of the contact for the billing account" name="BillToContactFirstName"/>
        <oer:attribute description="Last name of the contact for the billing account." name="BillToContactLastName"/>
        <oer:attribute description="Middle name of the contact for the billing account." name="BillToContactMiddleName"/>
        <oer:attribute description="Suffix of the name of the contact for the billing account." name="BillToContactNameSuffix"/>
        <oer:attribute description="Title of the contact for the billing account." name="BillToContactTitle"/>
        <oer:attribute description="Identifier of Preferred Contact Point for the contact at the account responsible for payment." name="PreferredBillToContactPointIdentifier"/>
        <oer:attribute description="Cross Reference Value for  Preferred way to contact the Account Contact." name="PreferredBillToContactPointOrigSystemReference"/>
        <oer:attribute description="E-mail of the Party who placed the order, if a person" name="BuyingPartyPersonEmail"/>
        <oer:attribute description="E-mail of the organization that placed the order" name="BuyingPartyOrganizationEmail"/>
        <oer:attribute description="E-mail of the person who placed the order or is the primary contact for the order." name="BuyingPartyContactEmail"/>
        <oer:attribute description="E-mail of the Account legally responsible for the payment, if a person." name="BillToPartyPersonEmail"/>
        <oer:attribute description="E-mail of the organization legally responsible for the payment." name="BillToPartyOrganizationEmail"/>
        <oer:attribute description="E-mail of the contact for the billing account." name="BillToContactEmail"/>
        <oer:attribute description="E-mail of the Party to whom the goods are to be sent, if a person." name="ShipToPartyPersonEmail"/>
        <oer:attribute description="E-mail of the organization where the goods are to be sent" name="ShipToPartyOrganizationEmail"/>
        <oer:attribute description="E-mail of the contact of the Party where the goods are to be sent." name="ShipToContactEmail"/>
        <oer:attribute description="This is a flag to make the credit check enable or disable." name="PreCreditCheckedFlag"/>
        <oer:attribute description="Name of the type of Sales Channel that was used like Web,Phone, CPQ, webstore,etc" name="SalesChannel"/>
        <oer:attribute description="Code for the type of Sales Channel that was used like Web,Phone, CPQ, webstore,etc" name="SalesChannelCode"/>
        <oer:attribute description="Primary Sales person name." name="Salesperson"/>
        <oer:attribute description="Primary Sales person id." name="SalespersonIdentifier"/>
        <oer:attribute description="Number that uniquely identifies the sales agreement on the order header and order line." name="SalesAgreementNumber"/>
        <oer:attribute description="Value that uniquely identifies the sales agreement on the order header." name="SalesAgreementHeaderIdentifier"/>
        <oer:attribute description="Attachment for the order" name="Attachment"/>
        <oer:attribute description="Payment for the order" name="Payment"/>
        <oer:attribute description="Sales Credit for the order" name="SalesCredit"/>
        <oer:attribute description="Line belonging to the order" name="Line"/>
        <oer:attribute description="Additional header information for the order" name="AdditionalHeaderInformationCategories"/>
        <oer:attribute description="User Preferences to decide customer creation on the fly and whether to submit the order or not." name="OrderPreferences"/>
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
  <xsd:import namespace="http://xmlns.oracle.com/apps/scm/doo/processOrder/model/" schemaLocation="HeaderEffCategories.xsd"/>
  <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
  <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
  <xsd:import namespace="commonj.sdo" schemaLocation="sdoModel.xsd"/>
  <xsd:include schemaLocation="Attachment.xsd"/>
  <xsd:include schemaLocation="Payment.xsd"/>
  <xsd:include schemaLocation="SalesCredit.xsd"/>
  <xsd:include schemaLocation="OrderLine.xsd"/>
  <xsd:include schemaLocation="OrderProcessingPreferences.xsd"/>
  <xsd:complexType name="Order">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>SourceTransactionIdentifier</attribute>
          <attribute>SourceTransactionSystem</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SourceTransactionIdentifier" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SourceTransactionSystem" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RevisionSourceSystem" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SourceTransactionNumber" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BuyingPartyType" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BuyingPartyId" nillable="true" type="xsd:long"/>
      <xsd:element minOccurs="0" name="BuyingPartyName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BuyingPartyNumber" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BuyingPartyOrigSystemReference" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BuyingPartyPersonFirstName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BuyingPartyPersonLastName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BuyingPartyPersonMiddleName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BuyingPartyPersonNameSuffix" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BuyingPartyPersonTitle" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BuyingPartyContactId" nillable="true" type="xsd:long"/>
      <xsd:element minOccurs="0" name="BuyingPartyContactName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BuyingPartyContactNumber" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BuyingPartyContactOrigSystemReference" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BuyingPartyContactFirstName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BuyingPartyContactLastName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BuyingPartyContactMiddleName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BuyingPartyContactNameSuffix" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BuyingPartyContactTitle" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PreferredSoldToContactPointIdentifier" nillable="true" type="xsd:long"/>
      <xsd:element minOccurs="0" name="PreferredSoldToContactPointOrigSystemReference" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CustomerPONumber" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TransactionalCurrencyCode" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TransactionalCurrencyName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TransactionOn" nillable="true" type="ns0:dateTime-Timestamp"/>
      <xsd:element minOccurs="0" name="RequestingBusinessUnitIdentifier" nillable="true" type="xsd:long"/>
      <xsd:element minOccurs="0" name="RequestingBusinessUnitName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TransactionTypeCode" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CurrencyConversionType" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CurrencyConversionRate" nillable="true" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="CurrencyConversionDate" nillable="true" type="ns0:dateTime-Timestamp"/>
      <xsd:element minOccurs="0" name="TransactionDocumentTypeCode" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SourceTransactionRevisionNumber" nillable="true" type="xsd:long"/>
      <xsd:element minOccurs="0" name="CancelReasonCode" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CancelReason" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RequestCancelDate" nillable="true" type="ns0:dateTime-Timestamp"/>
      <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RequestingLegalUnitIdentifier" nillable="true" type="xsd:long"/>
      <xsd:element minOccurs="0" name="RequestingLegalUnit" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="OrigSystemDocumentReference" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PartialShipAllowedFlag" nillable="true" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="OperationMode" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PricedOn" nillable="true" type="ns0:dateTime-Timestamp"/>
      <xsd:element minOccurs="0" name="FreezePriceFlag" nillable="true" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="FreezeShippingChargeFlag" nillable="true" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="FreezeTaxFlag" nillable="true" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="ShipToPartyType" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToPartyIdentifier" nillable="true" type="xsd:long"/>
      <xsd:element minOccurs="0" name="ShipToPartyName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToPartyNumber" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToPartyPersonFirstName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToPartyPersonLastName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToPartyPersonMiddleName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToPartyPersonNameSuffix" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToPartyPersonTitle" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToPartySiteIdentifier" nillable="true" type="xsd:long"/>
      <xsd:element minOccurs="0" name="ShipToAddress1" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToAddress2" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToAddress3" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToAddress4" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToCity" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToPostalCode" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToState" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToProvince" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToCounty" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToCountry" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToAddressOrigSystemReference" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToPartyContactIdentifier" nillable="true" type="xsd:long"/>
      <xsd:element minOccurs="0" name="ShipToPartyContactName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToPartyContactNumber" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToPartyContactOrigSystemReference" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToContactFirstName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToContactLastName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToContactMiddleName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToContactNameSuffix" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToContactTitle" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PreferredShipToContactPointIdentifier" nillable="true" type="xsd:long"/>
      <xsd:element minOccurs="0" name="PreferredShipToContactPointOrigSystemReference" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToPartyType" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToCustomerIdentifier" nillable="true" type="xsd:long"/>
      <xsd:element minOccurs="0" name="BillToCustomerName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToCustomerNumber" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToAccountDescription" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToAccountPersonFirstName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToAccountPersonLastName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToAccountPersonMiddleName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToAccountPersonNameSuffix" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToAccountPersonTitle" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToAccountSiteUseIdentifier" nillable="true" type="xsd:long"/>
      <xsd:element minOccurs="0" name="BillToAddress1" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToAddress2" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToAddress3" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToAddress4" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToCity" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToPostalCode" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToState" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToProvince" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToCounty" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToCountry" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToAddressOrigSystemReference" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToAccountContactIdentifier" nillable="true" type="xsd:long"/>
      <xsd:element minOccurs="0" name="BillToAccountContactName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToAccountContactNumber" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToAccountContactOrigSystemReference" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToContactFirstName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToContactLastName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToContactMiddleName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToContactNameSuffix" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToContactTitle" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PreferredBillToContactPointIdentifier" nillable="true" type="xsd:long"/>
      <xsd:element minOccurs="0" name="PreferredBillToContactPointOrigSystemReference" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BuyingPartyPersonEmail" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BuyingPartyOrganizationEmail" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BuyingPartyContactEmail" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToPartyPersonEmail" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToPartyOrganizationEmail" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillToContactEmail" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToPartyPersonEmail" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToPartyOrganizationEmail" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ShipToContactEmail" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PreCreditCheckedFlag" nillable="true" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="SalesChannel" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SalesChannelCode" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Salesperson" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SalespersonIdentifier" nillable="true" type="xsd:long"/>
      <xsd:element minOccurs="0" name="SalesAgreementNumber" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SalesAgreementHeaderIdentifier" nillable="true" type="xsd:long"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Attachment" type="Attachment"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Payment" type="Payment"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="SalesCredit" type="SalesCredit"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Line" type="OrderLine"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="AdditionalHeaderInformationCategories" type="ns1:HeaderEffCategories" sdoXML:dataType="sdo:DataObject"/>
      <xsd:element minOccurs="0" name="OrderPreferences" type="OrderProcessingPreferences"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="order" type="Order"/>
</xsd:schema>