ADF/Temp/CEIX_STSShipments/Model/src/com/oracle/xmlns/apps/scm/fom/importorders/orderimportservice/CustomerDestination.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/scm/doo/processOrder/flex/headerContextsB/" xmlns:ns0="http://xmlns.oracle.com/apps/scm/doo/processOrder/model/" xmlns="http://xmlns.oracle.com/apps/scm/doo/processOrder/flex/headerContextsB/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="CustomerDestination.xsd" xml:id="CustomerDestination-xsd"/>
  <xsd:import namespace="http://xmlns.oracle.com/apps/scm/doo/processOrder/model/" schemaLocation="HeaderEff.xsd"/>
  <xsd:complexType name="CustomerDestination">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>EffLineId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ns0:HeaderEff">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="domesticOrExport" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="destinationCountry" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="customerDestination" type="CustomerDestination"/>
</xsd:schema>